@model Booking_master.Models.Booking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.forRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.forRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.refNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.refNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckInDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckInDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckOutDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckOutDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numberOfPeople)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numberOfPeople)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deposit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deposit)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
